<form role="form">
	<div class="form-group">
		<label for="wording">Libelle:</label> <input id="wording" type="text" ng-model="addCardController.card.wording">
	</div>
	<div class="form-group">
		<label for="description">Description :</label> <input id="description" type="text" ng-model="addCardController.card.description">
	</div>
	<div class="form-group">
		<label for="rarity">Rarete : </label> <input id="rarity" type="text" ng-model="addCardController.card.rarity">
	</div>
	<div class="form-group">
		<label for="dust_cost">Cout en poussiere : </label> <input id="dust_cost" type="text" ng-model="addCardController.card.dust_cost">
	</div>
	<div class="form-group">
		<label for="dust_value">Valeur en poussiere : </label> <input id="dust_value" type="text" ng-model="addCardController.card.dust_value">
	</div>
	<div class="form-group">
		<label for="extension">Extension : </label> <input id="extension" type="text" ng-model="addCardController.card.extension">
	</div>
	<div class="form-group">
		<label for="picture">Future image : </label> <input id="picture" type="text" ng-model="addCardController.card.picture">
	</div>
	<div class="form-group">
		<label for="mana_cost">Cout en mana : </label> <input id="mana_cost" type="text" ng-model="addCardController.card.mana_cost">
	</div>
	<div class="form-group">
		<label for="classe">Classe : </label> <input id="classe" type="text" ng-model="addCardController.card.classe">
	</div>
	<button ng-click="addCardController.add(addCardController.card)" type="submit" class="btn btn-default">Creer une carte</button>
</form>