<form role="form">

	<div class="form-group">
		<label for="libelle">Libelle:</label> <input id="libelle" type="text" ng-model="addCardController.card.libelle">
	</div>
	<div class="form-group">
		<label for="description">Description :</label> <input id="description" type="text" ng-model="addCardController.card.description">
	</div>
	<div class="form-group">
		<label for="pv">Points de vie : </label> <input id="pv" type="text" ng-model="addCardController.card.pv">
	</div>
	<button ng-click="addCardController.add(addCardController.card)" type="submit" class="btn btn-default">Submit</button>
</form>